node_modules
dist
coverage
.nyc_output
.turbo
.cache
.eslintcache
.tsbuildinfo
.DS_Store
.AppleDouble
.LSOverride
.vscode/
.idea/
.fleet/
.history/
.tmp/
.temp/
.direnv/
.envrc
.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
*.local
*.tgz
